@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
  .team > .container {
    max-width: 294px;
  }
  .customers .container {
    max-width: 426px;
  }
  .footer .container {
    max-width: 426px;
  }
}

@media screen and (max-width: 767px) {
  .team .list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 72px;
  }
}
@media screen and (min-width: 382px) and (max-width: 767px) {
  .customers-item:nth-child(n + 3) {
    margin-top: 56px;
  }
}
